*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") red 0% 30% / cover no-repeat border-box border-box;

    /* background-image: url("images/freedom.jpg");
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */

    /* background-image: linear-gradient(180deg, red 30%, rgba(168, 186, 133, 0.5) 70%); */

    /* background-image: radial-gradient(ellipse 20px 20px at 20% 50%, yellow, cyan 80%); */
    width: 100vw;
    height: 33vh;
    padding: 10px;
    position: relative;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    left: 5%;
    bottom: 5%;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}

.section-title{
    color: #7fad23;
    font-family: inherit; 
    text-align: center;
    
}


.plan__list{
    width: 100%;
    margin: auto;
    text-align: center;
}

.plan{
    background: #c9efc9;
    text-align: center;
    padding: 1.2rem;
    margin-bottom: 0.7rem;
    width: 100%;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0; 
}

.plan__feature + .plan__feature{
    margin: 0.7rem 0;
}

.plan--highlighted{
    background: #01a401;
    color: white;
}
 
.plan__annotation{
    background-color: white;
    color: green;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0 , 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 10%;
    min-width: 75%;
}

.plan__title{
    color: #015a01;
}

.plan__price{
    color: gray;
}

.plan--highlighted .plan__title{
    color: white;
}

.plan--highlighted .plan__price{
    color: #015a01;
}

/* Media query */
@media (min-width: 40rem) and (min-height: 40rem){
    #product-overview{
        height: 60vh;
        background-position: 50% 25%;
    }

    #product-overview h1{
        font-size: 3rem;
    }
}

@media (min-width: 65rem){
    .plan{
        margin: 0.7rem;
        width: 25%;
        display: inline-block;
        min-width: 13rem;
        vertical-align: middle;
    }

    .plan__list{
        width: 90%;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0 , 0, 0, 0.5);
    }

    .plan__annotation{
        margin: 0 0;
        min-width: none;
    }
}

#key-features{
    background-color: #f6517f;
    margin-top: 7rem;
    padding: 1.2rem;
}

#key-features .section-title{
    color: white; 
}

.key-feature__list{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


@media (min-width: 65rem){
    .key-feature{
        display: inline-block;
        vertical-align: top;
        max-width: 20%;
    }
    
    .key-feature + .key-feature{
        margin-left: 4rem;
    }
}

.key-feature__description{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.key-feature__image{
    margin: 0 auto; /*circles centered*/
    height: 10.6rem;
    width: 10.6rem;
    background: white;
    border: 2px solid #424242;
    border-radius: 50%;
    padding: 1.6rem;
}

h1 ~ p{
    color: gray;
}

.main-header {
    /* width: 100%; */
    background-color: yellowgreen;
    padding: 0.7rem 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item + .main-nav__item{
    margin-left: 1.3rem;
}

.main-nav__item a{
    color: rgb(8, 65, 12);
    text-decoration: none;
    font-weight:  bold;
    padding: 0.25rem 0;
}

/* .main-nav__item a::after{
    content: " (Link)";
    color: red;
} */

.main-nav__item a:hover, 
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a{
    color: white;
    background-color: red;
    padding: 0.7rem 1.3rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{ 
    color: red;
    background: white;
    border: none;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
}

.main-header__brand{
    color: rgb(8, 65, 12);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
}



/* p::first-letter{
    color: red;
    font-size: 20px;
} */

/* h1{
    font-family: sans-serif;
} */
